@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body{
    background-image: url(./images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 0% -10%;
    font-family: 'League Spartan', san-serif;
}
